$black: #151515;

$gray: #f8f9fa;
$gray-dark: #ced4da;
$gray-darker: #adb5bd;

$accent-color: #ffc04d;
$text-color: #adb5bd;
$heading-color: #f1f7ff;
$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
